# =========================
# Node / npm / pnpm / yarn
# =========================
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Build / compilados
# =========================
dist
build

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Env / credenciales
# =========================
.env
.env.*

# =========================
# Prisma
# =========================
# Base de datos local de desarrollo
prisma/dev.db

# Deja prisma/migrations/ para versionar las migraciones
# prisma/migrations/

# =========================
# Logs
# =========================
logs
*.log
*.log.*

# =========================
# Archivos del SO
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs / editores
# =========================
.vscode/
.idea/
*.swp

# =========================
# React/Next (por si algún día mezclas cosas)
# =========================
.next/
out/

# =========================
# Testing / coverage
# =========================
coverage/

# =========================
# Otros
# =========================
*.local
*.sublime-project
*.sublime-workspace
